<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

    <title>Movies</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col ">
                <h1 th:insert="~{fragments/fragments :: title('Paolo Fabris')}"></h1>
            </div>
                
        </div>
        <div th:insert="~{fragments/card :: card('movies')}"></div>

    </div>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>