<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

    <title th:text="${id}"></title>
</head>

<body>
    <div class="container">
        <h1 th:insert="~{fragments/fragments :: title('Paolo Fabris')}" />
        <div th:insert="~{fragments/songsCard :: card('songs')}"></div>

    </div>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>